.dashboard-products{
  background-color: white;
  padding: 2rem;
  overflow-y:auto ;
}

.create-product-button{
  position: fixed;
  right: 2rem;
  top: 2rem;
  @include square(2.5rem);
  @include flex(row , center , center , 0);
  background-color: rgb(201 , 9 , 9);
  color: white;
  border-radius: 50%;
  &:hover{
    opacity: 0.8;
  }
}